@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

li {
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #dacbcb;
    display: inline-block;
    width: 100%;
}

#main-aside-wrapper {
    flex-direction: column;
    display: flex;
}

#main-aside-wrapper logo {
    flex: 1;
    order: 2;
}

#main-aside-wrapper aside {
    flex: 1;
    order: 1;
}

#main-aside-header {
    flex-direction: column;
    display: flex;
}

#main-aside-header .logo {
    flex: 1;
    order: 2;
}

#main-aside-header .aside {
    flex: 2;
    order: 1;
}

footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    display: inline-block;
}

footer a {
    color: #f7f7f7;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
}

footer nav {
    width: 100%;
}



footer p {
    text-align: center;
    color: #f7f7f7;
}

.social img {
    margin-left: 10px;
    margin-bottom: 10px;
}

.social img:hover {
    background: #c09393;
    border-radius: 50%;
}

.line {
    border-top-color: rgba(2, 0, 0, 0.2);
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    width: 100%;
}

header {
    width: 100%;
    background: black;
    /*display:inline-block;*/
    text-align: left;
    min-height: 250px;
}

.graficlogo {
    box-sizing: border-box;
    width: 500px;
    height: 170px;
    float: left;
    margin: 20px;
    display: flex;
}

header h1 {
    margin-top: 10px;
    color: #FFD700;
    text-align: left;
    font-size: 50px;
    /*font-weight: 900px;*/
    margin: 0 auto;
    padding: 30px;
}

table {
    text-align: left;
    border-spacing: 5px;
    background-color: rgb(214, 185, 185);
    border: 5px solid #f094af;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #2f233a;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
}

th {
    border: 3px solid #c09393;
    padding: 10px;
}

td {
    border: 3px solid #c09393;
    padding: 15px;
}

tr:nth-child(2n) {
    background-color: #ad8484;
}

form {
    text-align: center;
    border-collapse: separate;
    padding: 2px;
    text-align: center;
    border-spacing: 5px;
    background-color: rgb(214, 185, 185);
    border: 5px solid #f094af;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #2f233a;
    border-collapse: collapse;
    margin: 0 auto;
    width: 350px;
    padding: 5px;
}

.links {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #1d1111;
    /* border-radius: 15px;*/
    background: #e9d5f7;
    margin: 0 auto;
    padding-left: 50px;
}

li {
    color: #1d1111;
    text-align: start;
    font-size: 10px;
}

li:hover {
    font-weight: bolder;
}

a {
    color: #1d1111;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.topnav a {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    font-size: 25px;
}

.topnav {
    background-color: #e9e6e6;
    margin-top: 1px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-block;
     width:100%;  
    text-align: center;
}

nav {
    display: inline-block;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topnav a:hover {
    border-bottom: 2px solid #000;
}
@media screen and (min-width: 1024px) {
    header {
        height: 200px;
    
    }
    .topnav{
      margin-top:-1%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
      
      }

    .topnav a{ 
        padding: 0 20px;
    }
    main{
        width: 960px;
        margin:0 auto;
    }
    li{
        font-size: 25px;
    }
    footer{
        margin-top:2%;
        height: 70px;
    }
    .line{
        font-size: 35px;
    }
    footer img{
        padding-top: 25px;
       /* padding-left: -10px;*/
    }
    #main-aside-header .logo {
        order: 0;
    }
    #main-aside-header .aside {
        order: 0;
    }
    #main-aside-wrapper logo {
        order: 0;
    }
    #main-aside-wrapper aside {
        order: 0;
    }
}